<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!-- You might want to try something fancier: -->
<!-- html/nunjucks docs: https://mozilla.github.io/nunjucks/ -->
<!-- pug: https://pugjs.org/ -->
<!-- haml: http://haml.info/ -->
<!-- hbs(handlebars): http://handlebarsjs.com/ -->

<!DOCTYPE html>
<html>
  <head>
    <title>Welcome to Glitch!</title>
    <meta name="description" content="A cool thing made with Glitch">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <header>
      <h1>
        Image Search Abstraction Layer
      </h1>
    </header>
    
    <div>      
      <ol>
        <li><b>Objective:</b> Build a full stack JavaScript app that allows you to search for images like this: <a href="https://id-image-search-abstraction-layer.glitch.me/api/imagesearch/basketball&?offset=10">https://id-image-search-abstraction-layer.glitch.me/api/imagesearch/basket%20ball&?offset=10</a> and browse recent search queries like this: <a href="https://id-image-search-abstraction-layer.glitch.me/api/latest/imagesearch/">https://id-image-search-abstraction-layer.glitch.me/api/latest/imagesearch/</a>. Then deploy it to Glitch.</li>
        
        <li>Note that for each project, you should create a new GitHub repository and a new Glitch project. If you can't remember how to do this, revisit https://freecodecamp.org/challenges/get-set-for-our-api-development-projects.</li>
        
        <li>Here are the specific user stories you should implement for this project:</li>
        
        <li><b>User Story:</b> I can get the image URLs, alt text and page urls for a set of images relating to a given search string.</li>
        
        <li><b>User Story:</b> I can paginate through the responses by adding a ?offset=2 parameter to the URL.</li>
        
        <li><b>User Story:</b> I can get a list of the most recently submitted search strings.</li>
        
        <li>Once you've finished implementing these user stories, click the "I've completed this challenge" button and enter the URLs for both your GitHub repository and your live app running on Glitch.</li>
        
        <li>You can get feedback on your project by sharing it with your friends on Facebook.</li>
      </ol>      
    </div>

    <footer>
      <a href="https://glitch.com">
        Remix this in Glitch
      </a>
    </footer>

  </body>
</html>
